In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn  as sns
import lux
%matplotlib inline

import warnings


warnings.filterwarnings('ignore')

In [33]:
hepa_oct = pd.read_csv("oct_clean.csv")
hepa_oct.head()

   Age Sex    ALP    ALT   AST  BILT    GGT    Cedula
0   25   F  121.0  106.0  45.0  0.87   31.0  10921133
1   33   F  198.0  315.0  65.0  0.90  706.0  10921446
2   41   M   38.0   33.0  21.0  0.80   63.0  11021176
3   47   F   81.0   19.0  15.0  0.30   29.0  11021216
4   75   M  135.0   41.0  33.0  1.01   29.0  11021265

In [34]:
hepa_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     326 non-null    int64
 1   Sex     326 non-null    object
 2   ALP     326 non-null    float64
 3   ALT     326 non-null    float64
 4   AST     326 non-null    float64
 5   BILT    326 non-null    float64
 6   GGT     326 non-null    float64
 7   Cedula  326 non-null    int64
dtypes: float64(5), int64(2), object(1)
memory usage: 20.5+ KB

In [35]:
hepa_nov = pd.read_csv("nov_clean.csv")
hepa_nov.head()

   Age Sex    ALP   ALT   AST  BILT   GGT    Cedula
0   63   F  104.0  25.0  21.0  0.44  40.0  11121001
1   22   F   94.0   9.0  18.0  0.38  19.0  11121244
2   61   F   91.0  22.0  19.0  0.80  20.0  11121387
3   62   F   68.0  11.0  15.0  0.56  17.0  11221170
4   29   F   76.0  15.0  20.0  0.58  16.0  11221300

In [36]:
hepa_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     115 non-null    int64
 1   Sex     115 non-null    object
 2   ALP     115 non-null    float64
 3   ALT     115 non-null    float64
 4   AST     115 non-null    float64
 5   BILT    115 non-null    float64
 6   GGT     115 non-null    float64
 7   Cedula  115 non-null    int64
dtypes: float64(5), int64(2), object(1)
memory usage: 7.3+ KB

In [37]:
hepa_oct['Cedula'].isin(hepa_nov['Cedula']).value_counts()

False    211
True     115
Name: Cedula, dtype: int64

In [38]:
delete = set(hepa_oct['Cedula']).intersection(set(hepa_nov['Cedula']))
delete

{11121001,
 11121244,
 11121387,
 11221170,
 11221300,
 21121092,
 21121211,
 21121488,
 21221017,
 21221026,
 21221237,
 21221327,
 21221330,
 21221337,
 21221362,
 21221492,
 31121017,
 31121043,
 31121074,
 31221097,
 31221329,
 31221350,
 31221429,
 41121102,
 41121166,
 41121313,
 41121371,
 51121104,
 51121118,
 51121168,
 51121184,
 51121193,
 51221015,
 61121029,
 81121142,
 81121147,
 81121309,
 81121337,
 81121340,
 81121353,
 81121405,
 101121060,
 101121213,
 101221287,
 110122034,
 110122331,
 110122334,
 111121322,
 111121390,
 111121519,
 111221076,
 120122074,
 120122384,
 121121074,
 121121306,
 121121322,
 121121471,
 130122030,
 130122317,
 130122401,
 131221103,
 140122111,
 140122243,
 141221042,
 151121157,
 151121158,
 151121435,
 151221521,
 161121152,
 161121206,
 161121287,
 161121356,
 161121394,
 161121452,
 170122200,
 170122521,
 171121027,
 171121031,
 171121032,
 171121209,
 171121222,
 181121512,
 191121265,
 191121400,
 231121233,
 231121237,
 231121257,
 231121268,
 231121271,
 241121171,
 241121253,
 241121266,
 241121326,
 241221056,
 241221110,
 241221235,
 251121222,
 251121459,
 261121203,
 261121242,
 261121248,
 261121368,
 261121393,
 261121459,
 261121465,
 261221006,
 271221116,
 271221292,
 271221317,
 271221363,
 281121006,
 281221325,
 301121072,
 301121381,
 301121422}

In [39]:
len(delete)

115

# Se tienen 115 datos duplicados

In [40]:
hepa_sam = pd.read_csv("sam.csv")
hepa_sam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     441 non-null    int64
 1   Sex     441 non-null    object
 2   ALP     441 non-null    float64
 3   ALT     441 non-null    float64
 4   AST     441 non-null    float64
 5   BILT    441 non-null    float64
 6   GGT     441 non-null    float64
 7   Cedula  441 non-null    int64
dtypes: float64(5), int64(2), object(1)
memory usage: 27.7+ KB

In [43]:
hepa_sam.loc[hepa_sam['Cedula'] == 51221015]

     Age Sex   ALP   ALT   AST  BILT   GGT    Cedula
70    31   F  64.0  16.0  21.0  0.52  17.0  51221015
358   31   F  64.0  16.0  21.0  0.52  17.0  51221015

In [44]:
hepa_sam.drop_duplicates(inplace=True)
hepa_sam.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 326 entries, 0 to 325
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     326 non-null    int64
 1   Sex     326 non-null    object
 2   ALP     326 non-null    float64
 3   ALT     326 non-null    float64
 4   AST     326 non-null    float64
 5   BILT    326 non-null    float64
 6   GGT     326 non-null    float64
 7   Cedula  326 non-null    int64
dtypes: float64(5), int64(2), object(1)
memory usage: 22.9+ KB

In [45]:
hepa_sam.drop_duplicates(subset=['Cedula'], keep='last')
hepa_sam.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 326 entries, 0 to 325
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     326 non-null    int64
 1   Sex     326 non-null    object
 2   ALP     326 non-null    float64
 3   ALT     326 non-null    float64
 4   AST     326 non-null    float64
 5   BILT    326 non-null    float64
 6   GGT     326 non-null    float64
 7   Cedula  326 non-null    int64
dtypes: float64(5), int64(2), object(1)
memory usage: 22.9+ KB

# Se tienen 326 datos finales

In [46]:
#df.drop(columns="Cedula")
hepa_sam.to_csv("total_clean.csv", index=False)